= turbo_stream.prepend "contents" do
  = turbo_frame_tag @record, class: "is-card-in-column" do
    = render(Contents::Components::Card::Component.new(record: @record))
= turbo_stream.update Content.new, render(Contents::Components::NewButton::Component.new)

