= turbo_stream.prepend "contents" do
  = turbo_frame_tag @record, class: "column is-one-third" do
    = render(Contents::Components::CardComponent.new(record: @record))
= turbo_stream.update Content.new, render(Contents::Components::NewContentButtonComponent.new)

