= render Layout::MainArea::Component.new do |component|
  - component.with_title do
    = t('.title')
  - component.with_actions do
    - if policy(Content).create?
      = turbo_frame_tag Content.new do
        = render Contents::Components::NewButton::Component.new
  - component.with_left_aside do
    = render Contents::Components::SearchForm::Component.new(params: params, aggs: @records.aggs, book: @records.book)
  - component.with_main_section do
    = turbo_frame_tag "contents", class: "container" do
      - if @records.records.any?
        - @records.records.with_highlights.each do |record, highlights|
          = turbo_frame_tag record do
            = render Contents::Components::Card::Component.new(record: record, highlights: highlights)
      - else
        = render NoRecord::Component.new
    = paginate @records.records
