= turbo_stream.replace(:flash) do
  = render Layout::Flash::Component.new
= turbo_stream.update(Bookcase::Book.new, '')
= turbo_stream.turbo_frame_set_src 'bookcase_books', bookcase_books_path
= turbo_stream.turbo_frame_reload 'bookcase_books'
