= render Layout::MainArea::Component.new(turbo_frame_tag_id: @record) do |component|
  - component.with_title do
    = t('.title')
  - component.with_main_section do
    = render Bookcase::Books::Components::Form::Component.new(@record)
