@use "bulma/sass/utilities/css-variables" as cv;

.ProseMirror-bm {
  white-space: nowrap;
  pointer-events: all;
  width: 20rem;
  max-height: 15rem;
  padding: 0.25rem;
  overflow-x: hidden;
  overflow-y: auto;
  border-width: 1px;
  border-radius: var(--tiptap-radius);
  color: var(--tiptap-foreground);
  background-color: var(--tiptap-background);

  &-empty {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.875rem;
    height: 2.25rem;
    padding: 0 0.75rem;
  }

  &-divider {
    display: block;
    height: 1px;
    margin: 0.25rem -0.25rem;
    background-color: var(--tiptap-muted-background);
  }

  &-button {
    appearance: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
    font-weight: 500;
    font-size: 0.875rem;
    border: none;
    outline: none;
    width: 100%;
    height: 2.25rem;
    padding: 0.375rem 0.5rem;
    border-radius: var(--tiptap-radius);
    background-color: transparent;
    transition-duration: 0.15s;
    transition-property: color, background-color, box-shadow;

    &:hover,
    &:focus,
    &[data-active] {
      color: var(--tiptap-accent-foreground);
      background-color: var(--tiptap-accent-background);
    }

    &-icon {
      margin-left: 0.25rem;
      margin-right: 0.75rem;
      width: 1rem;
      height: 1rem;

      .ProseMirror-icon {
        width: 1rem;
        height: 1rem;
      }
    }

    &-name {
      flex-grow: 1;
      text-align: start;
    }

    &-shortcut {
      color: var(--tiptap-muted-foreground);
      font-family: var(--tiptap-font-family-mono);
      font-size: 0.625rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }
  }

  &-placeholder::before {
    content: attr(data-empty);
    display: block;
    pointer-events: none;
    padding-left: 0.125rem;
    height: 0;
    opacity: 0;
    color: var(--tiptap-muted-foreground);
    font-size: calc(var(--tiptap-font-size) - 0.1em);
    transition-duration: 0.15s;
    transition-property: opacity;
  }

  .ProseMirror-focused &-placeholder::before {
    opacity: 1;
  }

  .ProseMirror[contenteditable="false"] &-placeholder::before {
    opacity: 0;
  }
}