@use "bulma/sass/utilities/css-variables" as cv;

.ProseMirror-fm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375rem 0.5rem;

  &-divider {
    display: block;
    width: 1px;
    height: 1.3rem;
    background-color: var(--tiptap-muted-background);
  }

  &-button {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin: 0 0.1rem;
    border-radius: var(--tiptap-radius);
    background-color: transparent;
    transition-duration: 0.15s;
    transition-property: color, background-color, box-shadow;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      color: var(--tiptap-accent-foreground);
      background-color: var(--tiptap-accent-background);
    }

    &[data-active] {
      color: var(--tiptap-primary-background);
      background-color: var(--tiptap-accent-background);
    }

    &-popover {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem 0.5rem;
      font-size: 0.75rem;
      border-radius: var(--tiptap-radius);
    }

    &-shortcut {
      color: var(--tiptap-muted-background);
      font-family: var(--tiptap-font-family-mono);
      font-size: 0.625rem;
      letter-spacing: 0.2em;
      text-transform: uppercase;
    }

    .ProseMirror-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-size: 0.75rem;
      line-height: 1;
      color: var(--tiptap-popover-foreground);
    }

    input {
      display: flex;
      outline: none;
      border-radius: var(--tiptap-radius);
      border: 1px solid var(--tiptap-border);
      background-color: transparent;
      padding: 0.25rem 0.75rem;
      width: 100%;
      height: 2rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      transition-duration: 0.15s;
      transition-property: color, border, box-shadow;
      box-sizing: border-box;

      &:focus {
        border: 1px solid var(--tiptap-input);
        box-shadow: 0 0 0 1px var(--tiptap-ring);
      }

      &::placeholder {
        color: var(--tiptap-muted-foreground);
      }
    }
  }

  &-textarea {
    display: flex;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition-duration: 0.15s;
    transition-property: color, border, box-shadow;
    box-sizing: border-box;

    &::placeholder {
      color: var(--tiptap-muted-foreground);
    }
  }

  &-form {
    padding: 0.375rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    min-width: 18rem;
  }

  &-action {
    margin-bottom: -0.25rem;
    gap: 0.375rem;
    display: flex;
    justify-content: flex-end;
  }

  &-color-picker {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;

    div {
      display: grid;
      grid-template-columns: repeat(13, 1fr);
      gap: 0.5rem;
    }

    button {
      appearance: none;
      cursor: pointer;
      line-height: 1;
      padding: 0.5rem;
      border-radius: var(--tiptap-radius);
      border: 1px solid var(--tiptap-border);
      transition-duration: 0.15s;
      transition-property: color, border, box-shadow;

      &:hover {
        border: 1px solid var(--tiptap-input);
        box-shadow: 0 0 0 1px var(--tiptap-ring);
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1em !important;
        height: 1em !important;
      }
    }
  }

  &-input + &-button,
  &-group + &-button {
    margin-left: 0.4rem;
  }

  &-button + &-input,
  &-button + &-group {
    margin-right: 0.4rem;
  }
}