= render Layout::MainArea::Component.new do |component|
  - component.with_title do
    = t('.title')
  - component.with_header_actions do
    - if policy(ContentTagFamily).create?
      = turbo_frame_tag ContentTagFamily.new do
        = render ContentTagFamilies::Components::NewButton::Component.new
  - component.with_left_aside do
    = render ContentTagFamilies::Components::SearchForm::Component.new(params: params, records: @records.records)
  - component.with_main_section do
    = turbo_frame_tag "content_tag_families", class: "container" do
      - if @records.records.any?
        - @records.records.with_highlights.each do |record, highlights|
          = turbo_frame_tag record do
            = render ContentTagFamilies::Components::Card::Component.new(record: record, highlights: highlights)
      - else
        = render NoRecord::Component.new
    = paginate @records.records
