.card-box
  = form_for(record, builder: AppFormBuilder::FormBuilder, data: { turbo: request.headers.key?('Turbo-Frame') }) do |f|
    = render FormErrors::Component.new(errors: record.errors)
    = helpers.name_field(f, true)
    = f.select :kind, options_for_select(Bookcase::ContentTagFamily.kind_select_values, record.kind), {}, { disabled: record.persisted? }
    = helpers.book_collection_select(f)
    = helpers.alternate_names_field(f)
    = helpers.description_field(f)
    = helpers.position_field(f)

    .field
      .buttons
        = f.submit t('application.submit'), class: 'button is-primary'
        = link_to t('application.cancel'), :back, class: 'button'
