nav.main-nav.navbar.is-fixed-top.is-primary[role="navigation" aria-label="main navigation"]
  .container.is-fluid
    .navbar-brand
      a.navbar-item[href="/" target="_top"]
        span.icon
          span.material-symbols-outlined local_library
        span HysperiaBooks
      a.navbar-burger[role="button" aria-label="menu" aria-expanded="false" data-target="navbar-menu"]
        span [aria-hidden="true"]
        span [aria-hidden="true"]
        span [aria-hidden="true"]
        span [aria-hidden="true"]

    - if user_signed_in?
      .navbar-menu id="navbar-menu"
        .navbar-start
          - if policy(Bookcase::Content).index?
            .navbar-item.has-dropdown.is-hoverable
              a.navbar-link
                = Bookcase::Content.model_name.human(count: 2)
              .navbar-dropdown
                = link_to bookcase_contents_path, class: "navbar-item#{" is-active" if controller_name == 'contents'}", target: "_top" do
                  span
                    = t('application.all_contents')
                - Bookcase::Book.all.each do |book|
                  = link_to search_bookcase_book_contents_path(book), class: "navbar-item", target: "_top" do
                    span
                      = book.name
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link
              = t('application.more')
            .navbar-dropdown
              - if policy(Bookcase::Book).index?
                = link_to bookcase_books_path, class: "navbar-item#{" is-active" if controller_name == 'books'}", target: "_top" do
                  span
                    = Bookcase::Book.model_name.human(count: 2)
              - if policy(Bookcase::ContentTagFamily).index?
                = link_to bookcase_content_tag_families_path, class: "navbar-item#{" is-active" if controller_name == 'content_tag_families'}", target: "_top" do
                  span
                    = Bookcase::ContentTagFamily.model_name.human(count: 2)
              - if policy(Bookcase::ContentTag).index?
                = link_to bookcase_content_tags_path, class: "navbar-item#{" is-active" if controller_name == 'content_tags'}", target: "_top" do
                  span
                    = Bookcase::ContentTag.model_name.human(count: 2)
              - if policy(Bookcase::Document).index?
                = link_to bookcase_media_documents_path, class: "navbar-item#{" is-active" if controller_name == 'documents'}", target: "_top" do
                  span
                    = Bookcase::Document.model_name.human(count: 2)
              - if policy(Bookcase::Picture).index?
                = link_to bookcase_media_pictures_path, class: "navbar-item#{" is-active" if controller_name == 'pictures'}", target: "_top" do
                  span
                    = Bookcase::Picture.model_name.human(count: 2)
              - if policy(Bookcase::Scan).index?
                = link_to bookcase_media_scans_path, class: "navbar-item#{" is-active" if controller_name == 'scans'}", target: "_top" do
                  span
                    = Bookcase::Scan.model_name.human(count: 2)
              - if policy(User).index?
                = link_to users_path, class: "navbar-item#{" is-active" if controller_name == 'users'}", target: "_top" do
                  span
                    = User.model_name.human(count: 2)
        .navbar-end
          .navbar-item
            .buttons
              - if user_signed_in?
                = link_to current_user, edit_user_registration_path, class: "button is-white is-small", target: "_top"
                = button_to t('application.log_out'), destroy_user_session_path, method: :delete, data: { "turbo-method": :delete }, class: "button is-edit-action"
