nav.main-nav.navbar.is-fixed-top.is-primary[role="navigation" aria-label="main navigation"]
  .container.is-fluid
    .navbar-brand
      a.navbar-item[href="/" target="_top"]
        span.icon
          span.material-symbols-outlined local_library
        span HysperiaBooks
      a.navbar-burger[role="button" aria-label="menu" aria-expanded="false" data-target="navbar-menu"]
        span [aria-hidden="true"]
        span [aria-hidden="true"]
        span [aria-hidden="true"]
        span [aria-hidden="true"]

    - if user_signed_in?
      .navbar-menu id="navbar-menu"
        .navbar-start
          - if policy(Content).index?
            .navbar-item.has-dropdown.is-hoverable
              a.navbar-link
                = t('.contents')
              .navbar-dropdown
                = link_to contents_path, class: "navbar-item#{" is-active" if controller_name == 'contents'}", target: "_top" do
                  span
                    = t('.all_contents')
                - Book.all.each do |book|
                  = link_to search_book_contents_path(book), class: "navbar-item", target: "_top" do
                    span
                      = book.name
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link
              = t('.more')
            .navbar-dropdown
              - if policy(Book).index?
                = link_to books_path, class: "navbar-item#{" is-active" if controller_name == 'books'}", target: "_top" do
                  span
                    = t('.books')
              - if policy(ContentTagFamily).index?
                = link_to content_tag_families_path, class: "navbar-item#{" is-active" if controller_name == 'content_tag_families'}", target: "_top" do
                  span
                    = t('.content_tag_families')
              - if policy(ContentTag).index?
                = link_to content_tags_path, class: "navbar-item#{" is-active" if controller_name == 'content_tags'}", target: "_top" do
                  span
                    = t('.content_tags')
              - if policy(Document).index?
                = link_to media_documents_path, class: "navbar-item#{" is-active" if controller_name == 'documents'}", target: "_top" do
                  span
                    = t('.documents')
              - if policy(Picture).index?
                = link_to media_pictures_path, class: "navbar-item#{" is-active" if controller_name == 'pictures'}", target: "_top" do
                  span
                    = t('.pictures')
              - if policy(Scan).index?
                = link_to media_scans_path, class: "navbar-item#{" is-active" if controller_name == 'scans'}", target: "_top" do
                  span
                    = t('.scans')
              - if policy(User).index?
                = link_to users_path, class: "navbar-item#{" is-active" if controller_name == 'users'}", target: "_top" do
                  span
                    = t('.users')
        .navbar-end
          .navbar-item
            .buttons
              - if user_signed_in?
                = link_to current_user, edit_user_registration_path, class: "button is-white is-small", target: "_top"
                = button_to t('.log_out'), destroy_user_session_path, method: :delete, data: { "turbo-method": :delete }, class: "button is-edit-action"
