<header class="bg-white shadow">
  <div class="flex py-6 px-4 sm:px-6 lg:px-8">
    <div class="flex-auto">
      <h1 class="text-3xl font-bold text-gray-900"><%= title %></h1>
    </div>
    <% if actions %>
      <div class="flex-auto text-right">
        <span class="align-middle"><%= actions %></span>
      </div>
    <% end %>
  </div>
</header>