.card-box
  .grid.is-gap-2
    .cell
      - if record.thumbnail.present?
        figure.image.is-128x128
          = image_tag record.thumbnail.variant(resize_to_fill: [258, 258])
      - else
        = render Contents::Components::NoThumbnail::Component.new(record: record)
    .cell
      = record.name
      - unless record.alternate_names.blank?
        p.subtitle
          = record.alternate_names
    .cell
      span.tag
        = record.kind_name
    .cell.is-align-self-center
      .field.is-grouped.is-grouped-centered
      - if policy(record.object).show?
        = link_to t("application.read"),
          content_path(record.object),
          class: "button is-edit-action",
          target: "_top"
