.card-box
  = form_for(record,
    builder: AppFormBuilder::FormBuilder,
    data: { turbo: request.headers.key?('Turbo-Frame'),
      'turbo-frame': helpers.model_dom_id(record),
      'turbo-action': 'replace' }) do |f|
    = render FormErrors::Component.new(errors: record.errors)
    = f.collection_select :relater_id, [record.relater], :id, :name, {}, { disabled: true }
    = f.hidden_field :relater_id
    = f.select :kind, options_for_select(Bookcase::AkinContentTagKind::kind_select_values, record.kind)
    - content_tag_families_collection.each do |ctf|
      = f.collection_radio_buttons :related_id, ctf.content_tags, :id, :name, label: ctf.name, include_hidden: false

    .field
      .buttons
        = f.submit t('application.submit'), class: 'button is-primary'
        = link_to t('application.cancel'), :back, class: 'button'
