!/tmp/pids/
!/tmp/pids/.keep
.bundle
.dockerignore
.DS_Store
.env
.env.*
.env.example
.eslintignore
.eslintrc.js
.foreman
.git
.github
.gitignore
.idea
.rubocop.yml
.yarnclean
*.swp
*~
**/.git
**/*.DS_Store
docker-compose.*
docker/Dockerfile
docker/dockerfiles
Dockerfile
log/*
node_modules
Procfile
Procfile.dev
public/assets/*
public/packs/*
public/system/*
storage/*
tmp/*
vendor/bundle/*
yarn-error.log