.bundle
.codeclimate.yml
.DS_Store
.env
.env.*
.git
.gitignore
.idea
*.swp
*~
**/.git
docker-compose.*
docker/Dockerfile
docker/dockerfiles
log
node_modules
public/assets
public/packs
public/system
storage
tmp
vendor/bundle
