@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/elements/box";

$no-thumbnail-background-h: cv.getVar("light-h");
$no-thumbnail-background-s: cv.getVar("light-s");
$no-thumbnail-background-l: cv.getVar("light-l");
$no-thumbnail-size: 128px;

.#{iv.$class-prefix}no-thumbnail {
  @include cv.register-vars(
                  (
                          "no-thumbnail-background-h": #{$no-thumbnail-background-h},
                          "no-thumbnail-background-s": #{$no-thumbnail-background-s},
                          "no-thumbnail-background-l": #{$no-thumbnail-background-l},
                          "no-thumbnail-size": #{$no-thumbnail-size},
                  )
  );

  margin: 0;
  padding: 3em;
  height: cv.getVar("no-thumbnail-size");
  width: cv.getVar("no-thumbnail-size");

  background-color: hsl(
                  cv.getVar("no-thumbnail-background-h"),
                  cv.getVar("no-thumbnail-background-s"),
                  cv.getVar("no-thumbnail-background-l")
  );
}
