= turbo_stream.replace(:flash)
  = render Layout::Flash::Component.new
= turbo_stream.turbo_frame_set_src 'bookcase_content_tags', bookcase_content_tags_path
= turbo_stream.turbo_frame_reload 'bookcase_content_tags'
