= render Layout::MainArea::Component.new(turbo_frame_tag_id: 'bookcase_content_tags') do |component|
  - component.with_title do
    = t('.title')
  - component.with_actions do
    = render Bookcase::ContentTags::Components::ActionButtons::Component.new(actions: %i[new])
  - component.with_left_aside do
    = render Bookcase::ContentTags::Components::SearchForm::Component.new(params: params, aggs: @records.aggs)
  - component.with_upper_section do
    = turbo_frame_tag Bookcase::ContentTag.new
  - component.with_main_section do
    .container
      - if @records.records.any?
        - @records.records.each do |record|
          = turbo_frame_tag record.object do
            = render Bookcase::ContentTags::Components::Card::Component.new(record)
        = paginate @records.records
      - else
        = render NoRecord::Component.new
