= render Layout::MainArea::Component.new(@record.object) do |component|
  - component.with_title do
    = @record.name
  - component.with_actions do
    = render Bookcase::ContentTags::Components::ActionButtons::Component.new(actions: %i[list edit delete], record: @record.object)
  - component.with_main_section do
    = render Bookcase::ContentTags::Components::Detail::Component.new(@record)
