= turbo_stream.prepend "books" do
  = turbo_frame_tag @record, class: "column is-one-third" do
    = render(Books::Components::CardComponent.new(record: @record))
= turbo_stream.update Book.new, render(Books::Components::NewBookButtonComponent.new)

