= turbo_stream.prepend "books" do
  = turbo_frame_tag @record do
    = render(Books::Components::Card::Component.new(record: @record))
= turbo_stream.update Book.new, render(Books::Components::NewButton::Component.new)

