= render Layout::MainArea::Component.new(turbo_frame_tag_id: :books) do |component|
  - component.with_title do
    = t('.title')
  - component.with_actions do
    - if policy(Book).create?
      = turbo_frame_tag Book.new do
        = render Books::Components::NewButton::Component.new
  - component.with_left_aside do
    = render Books::Components::SearchForm::Component.new(params: params, aggs: @records.aggs)
  - component.with_main_section do
    .container
      - if @records.records.any?
        - @records.records.each do |record|
          = turbo_frame_tag record.object do
            = render Books::Components::Card::Component.new(record: record)
        = paginate @records.records
      - else
        = render NoRecord::Component.new
