.card-box
  = form_for(record,
          builder: AppFormBuilder::FormBuilder,
          data: { turbo: request.headers.key?('Turbo-Frame'),
                  'turbo-frame': helpers.model_dom_id(record),
                  'turbo-action': 'advance' }) do |f|
    = render FormErrors::Component.new(errors: record.errors)
    = f.hidden_field :content_id
    = f.text_field :name
    - if record.body_html.present?
      div[data-controller='empty-html-field']
        = f.hidden_field :body_html, 'data-empty-html-field-target': 'input'
        .field[data-empty-html-field-target='renderer']
          = f.label :body_html
          .control
            .content
              = record.body_html.html_safe
              = f.button :empty_html, type: :button, class: 'button', 'data-action': 'click->empty-html-field#click' do
                = t('application.empty_html')
    = f.rich_text_area :body_json
    = helpers.position_field(f)
    .field
      .buttons
        = f.submit t('application.submit'), class: 'button is-primary'
        = link_to t('application.cancel'), :back, class: 'button'
