.card-box
  = render Bookcase::ContentAttributes::Components::AttributeDisplay::Component.new(record)
  = render Bookcase::ContentAttributes::Components::ActionButtons::Component.new(actions: %i[edit delete], record: record.object)
