= render Layout::MainArea::Component.new(@record.object) do |component|
  - component.with_title do
    = @record.name
  - component.with_actions do
    - if session.fetch(:content_edit_mode, false)
      = render Bookcase::Contents::Components::ActionButtons::Component.new(actions: %i[deactivate_edit_mode], record: @record.object)
    - else
      = render Bookcase::Contents::Components::ActionButtons::Component.new(actions: %i[activate_edit_mode], record: @record.object)
  - component.with_main_section do
    = render Bookcase::Contents::Components::Detail::Component.new(@record)
