.card-box
  .level
    .level-left
      .level-item
        - if context == :search_result
          span.has-text-grey-light
            | #{record.book_name}&nbsp;/&nbsp;
          span.has-text-grey-light
            | #{record.content_tag_family_name}&nbsp;/&nbsp;
        = record.name
    .level-right
      .level-item
        - if context == :search_result
          = render Bookcase::ContentTags::Components::ActionButtons::Component.new(actions: %i[show edit delete], record: record.object)
        - else
          = render Bookcase::ContentTags::Components::ActionButtons::Component.new(actions: %i[show], record: record.object)
