@use "bulma/sass/utilities/functions" as fn;
$orange: #FF470F;
$yellow: #c7ff0f;
$green: #0fff47;
$turquoise: #0fffbf;
$cyan: #0fc7ff;
$blue: #470fff;
$purple: #bf0fff;
$red: #D62D1A;

// https://gradients.app

$primary: #543875;
$link: #387573;

// Path to Bulma's sass folder
@use "bulma/sass/utilities" with (
  $orange: $orange,
  $yellow: $yellow,
  $green: $green,
  $turquoise: $turquoise,
  $cyan: $cyan,
  $blue: $blue,
  $purple: $purple,
  $red: $red,

  $family-primary: '"Nunito", sans-serif',
  $primary: $primary,
  $link: $link,
  $warning: $orange,
);
@forward "mixins";
