.buttons.is-right
  / List
  - if actions.include?(:list) and policy(Bookcase::ContentTagFamily).index?
    = link_to t('application.back_to_list'),
            bookcase_content_tag_families_path,
            data: { 'turbo-frame': helpers.model_dom_id(record), 'turbo-action': 'advance' },
            class: 'button is-back-action'

  / New
  - if actions.include?(:new) and policy(Bookcase::ContentTagFamily).create?
    = link_to t('application.new'),
            new_bookcase_content_tag_family_path,
            class: 'button is-new-action',
            'data-turbo-frame': helpers.dom_id(Bookcase::ContentTagFamily.new)
  - if actions.include?(:new_from_book) and record.present? and policy(Bookcase::ContentTag).create?
    = link_to t('application.new'),
            new_bookcase_content_tag_family_path(from: 'book', book_id: record),
            class: 'button is-new-action',
            'data-turbo-frame': helpers.dom_id(Bookcase::ContentTagFamily.new)

  / Show
  - if actions.include?(:show) and record.present? and policy(record).show?
    = link_to t('application.read'),
            bookcase_content_tag_family_path(record),
            class: 'button is-show-action',
            data: { turbo: "false" }

  / Edit
  - if actions.include?(:edit) and record.present? and policy(record).update?
    = link_to t('application.edit'),
            edit_bookcase_content_tag_family_path(record),
            class: 'button is-edit-action',
            'data-turbo-frame': helpers.dom_id(record)
  - if actions.include?(:edit_from_book) and record.present? and policy(record).update?
    = link_to t('application.edit'),
            edit_bookcase_content_tag_family_path(record, from: 'book'),
            class: 'button is-edit-action',
            'data-turbo-frame': helpers.dom_id(record)

  / Delete
  - if actions.include?(:delete) and record.present? and policy(record).destroy?
    = button_to t('application.delete'),
            bookcase_content_tag_family_path(record),
            method: :delete,
            data: { 'turbo-method': :delete, "turbo-confirm": t("application.are_you_sure"), 'turbo-action': 'advance' },
            class: "button is-delete-action"
  - if actions.include?(:delete_from_book) and record.present? and policy(record).destroy?
    = button_to t('application.delete'),
            bookcase_content_tag_family_path(record, from: 'book'),
            method: :delete,
            data: { 'turbo-method': :delete, "turbo-confirm": t("application.are_you_sure"), 'turbo-action': 'advance' },
            class: "button is-delete-action"
