div
  .title.is-1
    | Hello !
    | &nbsp;
    = gluten_free_icon

div
  .title.is-2
    = gluten_free_icon
    = gluten_icon

div
  .title.is-2
    = egg_free_icon
    = egg_icon

div
  .title.is-2
    = allergy_free_icon
    = allergy_icon

div
  .title.is-2
    = without_bake_icon
    = bake_icon