= render Layout::MainArea::Component.new(turbo_frame_tag_id: @record) do |component|
  - component.with_title do
    = t('.title', relater: @record)
  - component.with_main_section do
    = render Bookcase::AkinContentTags::Components::Form::Component.new(@record)
