.card-box
  .level
    .level-left
      .level-item
        = record.content_tag_name
    .level-right
      .level-item
        = render Bookcase::ContentTaggings::Components::ActionButtons::Component.new(actions: %i[delete], record: record.object)
