.card-box
  = form_for(record,
          builder: AppFormBuilder::FormBuilder,
          multipart: true,
          data: { turbo: request.headers.key?('Turbo-Frame'),
                  'turbo-frame': helpers.model_dom_id(record),
                  'turbo-action': 'advance' }) do |f|
    = render FormErrors::Component.new(errors: record.errors)
    = helpers.name_field(f)
    = helpers.book_collection_select(f)
    = f.select :kind, options_for_select(Bookcase::ContentKind.kind_select_values, record_kind), {}, { disabled: record.persisted? }
    = helpers.alternate_names_field(f)
    = helpers.short_description_field(f)
    = helpers.description_field(f)
    = f.text_field :version
    = f.text_field :is_based_on_url
    = f.fields_for :thumbnail do |f_thumbnail|
      = f_thumbnail.form_field(:thumbnail, hide_label: true) do
        = f_thumbnail.field_label :file, label: Bookcase::Content.human_attribute_name(:thumbnail)
        = f_thumbnail.field_control do
          .media
            figure.media-left
              .image.is-128x128
                - if record.thumbnail.present? or record.thumbnail.file.present?
                  = image_tag record.thumbnail.file.variant(resize_to_fill: [258, 258])
                - else
                  = render Bookcase::Contents::Components::NoThumbnail::Component.new(record)
            .media-content
              / = f_thumbnail.hidden_field :file, value: record.thumbnail.file.signed_id if record.thumbnail and record.thumbnail.file.attached?
              / = f_thumbnail.image_field :file, direct_upload: true, label: Bookcase::Content.human_attribute_name(:thumbnail)
              = f_thumbnail.image_field :file, { label: false }
              label.checkbox
                = f_thumbnail.check_box :_destroy, { label: Bookcase::Medium.human_attribute_name(:remove_file) }

    .field
      .buttons
        = f.submit t('application.submit'), class: 'button is-primary'
        = link_to t('application.cancel'), :back, class: 'button'
