= f.fields_for :data do |fd|
  = fd.select :sign_character, options_for_select(%w[+ -], record.data[:sign_character])
  = fd.number_field :year
  = fd.number_field :month
  = fd.number_field :week
  = fd.number_field :day
  = fd.number_field :hour
  = fd.number_field :minute
  = fd.number_field :second

