- if title?
  section.hero.is-hero-bar
    .hero-body
      .level
        .level-left
          .level-item
            h1.title
              = title
        - if header_actions?
          .level-right
            .level-item
              = header_actions
.columns
  - if aside?
    .column.is-narrow
      = aside
  .column
    = main_section
