@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/layout/container";

section.section.is-flash-section {
  padding: cv.getVar("gap");
}

section.section.is-main-section {
  @extend .container;
  @extend .is-fullhd;
  padding: cv.getVar("gap");
}
