<ul class="menu menu-horizontal p-0">
  <li>
    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" role="menuitem" tabindex="-1">
      <%= t('.my_profile') %>
    </a>
  </li>
  <li>
    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" role="menuitem" tabindex="-1">
      <%= t('.sign_out') %>
    </a>
  </li>
</ul>
