<ul class="menu menu-horizontal p-0">
  <li>
    <%= render Shared::NavigationMenu::Link::Component.new(
      label: t('.contents'),
      path: root_path,
      active: %w[contents recipes articles tutorials].include?(controller_name)
    ) %>
    <%= render Shared::NavigationMenu::Link::Component.new(
      label: t('.books'),
      path: books_path(I18n.locale),
      active: controller_name == "books")
    %>
  </li>
</ul>
