.card-box
  = render FieldDisplay::Component.new(label: Bookcase::ContentTag.human_attribute_name(:alternate_names), value: record.alternate_names)
  = render FieldDisplay::Component.new(label: Bookcase::ContentTag.human_attribute_name(:description), value: record.description)
  = render FieldDisplay::Component.new(label: Bookcase::ContentTag.human_attribute_name(:book), value: record.book_name)
  = render FieldDisplay::Component.new(label: Bookcase::ContentTag.human_attribute_name(:content_tag_family), value: record.content_tag_family_name)

.level
  .level-left
    .level-item
      p.title.is-4
        = Bookcase::ContentTag.human_attribute_name(:related_akin_content_tags)
  .level-right
    .level-item
      = render Bookcase::AkinContentTags::Components::ActionButtons::Component.new(actions: %i[new], record: record.object)
= helpers.turbo_frame_tag Bookcase::AkinContentTag.new
- if all_related_tags.any?
  - all_related_tags.each do |akin|
    = render Bookcase::AkinContentTags::Components::Card::Component.new(akin, context: :related)
- else
  = render NoRecord::Component.new

- if all_relater_tags.any?
  p.title.is-4
    = Bookcase::ContentTag.human_attribute_name(:relater_akin_content_tags)
    - all_relater_tags.each do |akin|
      = render Bookcase::AkinContentTags::Components::Card::Component.new(akin, context: :relater)
