.card-box
  .level
    .level-left
      .level-item
        = record.name
        span.has-text-grey-light
          | &nbsp;(#{record.kind_name})
    .level-right
      .level-item
        = render Bookcase::Books::Components::ActionButtons::Component.new(actions: %i[show edit delete], record: record.object)
