.card-box
  .media
    .media-left
      - if record.thumbnail.present?
        figure.image.is-128x128
          = image_tag record.thumbnail.variant(resize_to_fill: [258, 258])
      - else
        = render Bookcase::Contents::Components::NoThumbnail::Component.new(record)
    .media-content
      p.title
        = link_to record.name, record.object, data: { turbo: "false" }
      - unless record.alternate_names.blank?
        p.subtitle
          = record.alternate_names
    .media-right
      span.tag
        = record.kind_name

