- if content_edit_mode?
  = render Bookcase::Contents::Components::Detail::MainCardEditMode::Component.new(@record)
- else
  = render Bookcase::Contents::Components::Detail::MainCardShowMode::Component.new(@record)

- if content_edit_mode?
  = render Bookcase::Contents::Components::Detail::TaggingCardEditMode::Component.new(@record)
- else
  = render Bookcase::Contents::Components::Detail::TaggingCardShowMode::Component.new(@record)

- if content_edit_mode?
  = render Bookcase::Contents::Components::Detail::AttributesCardEditMode::Component.new(@record)
- else
  = render Bookcase::Contents::Components::Detail::AttributesCardShowMode::Component.new(@record)




