= f.fields_for :data do |fd|
  = fd.number_field :value
  = fd.number_field :max_value
  = fd.number_field :min_value
  = fd.text_field :currency
  = fd.text_field :valid_from
  = fd.date_field :valid_through