@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/components/card" with (
  $card-shadow: none,
  $card-header-shadow: none
);

@use "bulma/sass/grid/columns";

$card-border-color: cv.getVar("border") !default;
$card-border-style: solid !default;
$card-border-width: 0 0 1px !default;

.is-card-in-column {
  @extend .column;
  @extend .is-half-tablet;
  @extend .is-one-third-desktop;
  @extend .is-one-quarter-widescreen;
}

.card:not(:last-child) {
  margin-bottom: cv.getVar("gap");
}

.card {
  border-radius: cv.getVar("radius-large");
  border-color: $card-border-color;
  border-style: $card-border-style;
  border-width: $card-border-width;

  &.has-table {
    .card-content {
      padding: 0;
    }

    .b-table {
      border-radius: cv.getVar("radius-large");
      overflow: hidden;
    }
  }

  &.is-card-widget {
    .card-content {
      padding: calc(cv.getVar("gap") * .5);
    }
  }

  .card-header {
    border-color: $card-border-color;
    border-style: $card-border-style;
    border-width: $card-border-width;
  }

  .card-content {
    hr {
      margin-left: calc(cv.getVar("card-content-padding") * -1);
      margin-right: calc(cv.getVar("card-content-padding") * -1);
    }
  }

  .is-widget-icon {
    .icon {
      width: 5rem;
      height: 5rem;
    }
  }

  .is-widget-label {
    .subtitle {
      color: cv.getVar("grey");
    }
  }
}
