= render Bookcase::ContentAttributes::Components::Form::PlainText::Component.new(record, f)
= render Bookcase::ContentAttributes::Components::Form::MarkdownText::Component.new(record, f)
= render Bookcase::ContentAttributes::Components::Form::HtmlText::Component.new(record, f)
