.field.is-horizontal
  .field-label
    .label
      - if record.name.blank?
        = Bookcase::ContentAttribute.human_attribute_name(record_kind)
      - else
        = record.name
  .field-body
    - if record.body.present?
      = record.body.to_html
    - if record.body_html.present?
      .content
        = record.body_html.html_safe
