doctype html
html.has-aside-left.has-aside-mobile-transition.has-navbar-fixed-top.has-aside-expanded.theme-light
  head
    title
      | HysperialBook
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = vite_client_tag

    = vite_stylesheet_tag "application.scss", "data-turbo-track": "reload"
    link[rel="dns-prefetch" href="https://fonts.gstatic.com"]
    link[href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css"]
    link[href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"]
    = vite_javascript_tag "application"
    == yield :head
  body
    #app
      = render Layout::Navbar::Component.new
      section.container.is-fluid
        - if user_signed_in?
          = yield
        - else
          = turbo_frame_tag "flash", refresh: :replace, 'data-turbo-temporary': true
          = render Layout::Flash::Component.new
          .columns
            .column.is-half.is-offset-one-quarter
              section.section
                == yield

      = render Layout::Footer::Component.new
