doctype html
html.has-aside-left.has-aside-mobile-transition.has-navbar-fixed-top.has-aside-expanded.theme-light
  head
    title [data-inertia]
      | HysperialBook
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = vite_client_tag
    = inertia_ssr_head
    = inertia_meta_tags

    link[rel="preconnect" href="https://fonts.googleapis.com"]
    link[rel="preconnect" href="https://fonts.gstatic.com" crossorigin]
    link[rel="preconnect" href="https://fonts.googleapis.com"]
    link[rel="preconnect" href="https://fonts.gstatic.com" crossorigin]
    link[href="https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet"]
    link[href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet"]
    = vite_stylesheet_tag "application.scss", "data-turbo-track": "reload"
    - if inertia_rendering?
      = vite_javascript_tag "inertia"
    = vite_javascript_tag "application"
    == yield :head
  body
    #hysperial-book
      = render Layout::Navbar::Component.new
      section.container.is-fluid
        - if user_signed_in?
          - if inertia_rendering?
            = yield
          - else
            .traditional-layout
              == yield
        - else
          = turbo_frame_tag "flash", refresh: :replace, 'data-turbo-temporary': true
          = render Layout::Flash::Component.new
          .columns
            .column.is-half.is-offset-one-quarter
              section.section
                - if inertia_rendering?
                  == yield
                - else
                  .traditional-layout
                    == yield

      = render Layout::Footer::Component.new
